


.cc18               { /* Common */
	width           : 100%;
	height          : 100%;
	padding         :   7.50pt;
	border-width    :   0px;
	}
.cc19               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc20               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e42             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 240.00pt;
	height          : 315.00pt;
	}
span#e41            { /* images/survey007002.jpg */
	background      : transparent url(images/survey007002.jpg) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             :   8.25pt;
	width           : 217.50pt;
	height          : 296.25pt;
	}
span#e40            { /* images/survey007001.jpg */
	background      : transparent url(images/survey007001.jpg) no-repeat top left;
	position        : absolute;
	left            :  30.00pt;
	top             :  27.00pt;
	width           : 178.50pt;
	height          :  36.00pt;
	}
h1#e39              { /* Music Survey */
	padding-top     :   0.75pt;
	position        : absolute;
	left            :  45.00pt;
	top             :  27.00pt;
	width           : 150.00pt;
	height          :  26.25pt;
	}
form#f38            { /* default.asp onsubmit="re... */
	position        : absolute;
	left            :   5.25pt;
	top             :  72.00pt;
	width           : 228.75pt;
	height          : 219.00pt;
	}
legend#e37          { /* Favourite Music Genres */
	position        : absolute;
	left            :   8.25pt;
	top             :   5.25pt;
	width           : 185.25pt;
	height          :  14.25pt;
	}
input#e36           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             :  22.50pt;
	height          :  13.50pt;
	}
label#e35           { /* Alternative */
	position        : absolute;
	left            :  33.00pt;
	top             :  23.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e34           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             :  22.50pt;
	height          :  13.50pt;
	}
label#e33           { /* Blues */
	position        : absolute;
	left            : 142.50pt;
	top             :  23.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e32           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             :  40.50pt;
	height          :  13.50pt;
	}
label#e31           { /* Books & Spoken */
	position        : absolute;
	left            :  33.00pt;
	top             :  41.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e30           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             :  40.50pt;
	height          :  13.50pt;
	}
label#e29           { /* Children's Music */
	position        : absolute;
	left            : 142.50pt;
	top             :  41.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e28           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             :  58.50pt;
	height          :  13.50pt;
	}
label#e27           { /* Classical */
	position        : absolute;
	left            :  33.00pt;
	top             :  59.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e26           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             :  58.50pt;
	height          :  13.50pt;
	}
label#e25           { /* Comedy */
	position        : absolute;
	left            : 142.50pt;
	top             :  59.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e24           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             :  76.50pt;
	height          :  13.50pt;
	}
label#e23           { /* Country */
	position        : absolute;
	left            :  33.00pt;
	top             :  77.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e22           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             :  76.50pt;
	height          :  13.50pt;
	}
label#e21           { /* Easy Listening */
	position        : absolute;
	left            : 142.50pt;
	top             :  77.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e20           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             :  94.50pt;
	height          :  13.50pt;
	}
label#e19           { /* Electronic */
	position        : absolute;
	left            :  33.00pt;
	top             :  95.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e18           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             :  94.50pt;
	height          :  13.50pt;
	}
label#e17           { /* Hip Hop / Rap */
	position        : absolute;
	left            : 142.50pt;
	top             :  95.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e16           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             : 112.50pt;
	height          :  13.50pt;
	}
label#e15           { /* Jazz */
	position        : absolute;
	left            :  33.00pt;
	top             : 113.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e14           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             : 112.50pt;
	height          :  13.50pt;
	}
label#e13           { /* Latin */
	position        : absolute;
	left            : 142.50pt;
	top             : 113.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e12           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             : 130.50pt;
	height          :  13.50pt;
	}
label#e11           { /* Metal */
	position        : absolute;
	left            :  33.00pt;
	top             : 131.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e10           { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             : 130.50pt;
	height          :  13.50pt;
	}
label#e9            { /* Pop & Rock */
	position        : absolute;
	left            : 142.50pt;
	top             : 131.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e8            { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            :  13.50pt;
	top             : 148.50pt;
	height          :  13.50pt;
	}
label#e7            { /* Urban / R&B */
	position        : absolute;
	left            :  33.00pt;
	top             : 149.25pt;
	width           :  86.25pt;
	height          :  14.25pt;
	}
input#e6            { /* Check Box Favorie_Music_... */
	position        : absolute;
	left            : 123.00pt;
	top             : 148.50pt;
	height          :  13.50pt;
	}
label#e5            { /* World / Folk */
	position        : absolute;
	left            : 142.50pt;
	top             : 149.25pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
input#e4            { /* Check Box Contact_Me_Abo... */
	position        : absolute;
	left            :  13.50pt;
	top             : 172.50pt;
	height          :  13.50pt;
	}
label#e3            { /* Contact me from time to ... */
	position        : absolute;
	left            :  33.00pt;
	top             : 168.75pt;
	width           : 201.75pt;
	height          :  39.75pt;
	}
input#e2            { /* Submit Send Details  */
	position        : absolute;
	left            :   8.25pt;
	top             : 208.50pt;
	width           :  90.75pt;
	}
input#e1            { /* Reset Clear Details  */
	position        : absolute;
	left            : 134.25pt;
	top             : 208.50pt;
	width           :  90.75pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 240.00pt;
	height          : 315.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	}



/*--- EndOfFile ---*/
